/* reset */
@charset "utf-8";
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
html {
	height:100%;
}
body {width:100%;height:100%;font-size:12px; font-family:"微软雅黑";overflow:hidden;}

/* end reset */
#index{width:100%;height:100%;background:url("../img/index/light.jpg") no-repeat center;background-size:cover;}
#top{width:100%;color:#00b7ee;}
#top p{width:100%;height:30px;font-size:18px;text-align:center;padding-top:165px;}
#bottom{width:516px;height:140px;margin:85px auto 0px;background:url(../img/index/bg.png) no-repeat;position:relative;}
#bottom .dio{width:83px;height:24px;position:absolute;top:-19px;left:220px;background:url(../img/index/audio.png) no-repeat;cursor:pointer;}
#bottom .dio span{width:51px;height:24px;display:block;position:absolute;left:32px;top:0px;transition:300ms;}
#bottom .dio .button{background:url(../img/index/button.png) no-repeat;}
#bottom .dio .bofang{background:url(../img/index/bofang.png) no-repeat;z-index:22}
#bottom .xk{width:220px;height:107px;background:url(../img/index/xuanku.png) no-repeat left center;position:absolute;left:19px;top:25px;-webkit-transition:200ms;-moz-transition:200ms;-o-transition:200ms;transition:200ms;cursor:pointer;}
#bottom .cen{position:absolute;left:227px;top:30px;width:63px;height:65px;background:url(../img/index/six.png) no-repeat;-webkit-transition:200ms;-moz-transition:200ms;-o-transition:200ms;transition:200ms;}
#bottom .txt{width:220px;height:107px;background:url(../img/index/wenzi.png) no-repeat right center;position:absolute;right:14px;top:25px;-webkit-transition:200ms;-moz-transition:200ms;-o-transition:200ms;transition:200ms;cursor:pointer;}
#bottom .xk a,#bottom .txt a{width:194px;height:107px;display:block;}
#blog {
    position: absolute;
    left: 50%;
    bottom: 50px;
    padding: 20px;
    transform: translateX(-50%);
	text-align: center;
}

#blog .link{
    font-size: 20px;
    color: rgb(255, 255, 255)
}




